@using DRR_PRESENTATION.Services
@using DRR_PRESENTATION.Models
@using System.Text.Json

@inject TranslationService Translator
@inject EmpresaService EmpresaService

@page "/"
@inject IJSRuntime JS

<div class="bg-body">

    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <section class="bg-hero" id="inicio">
        <div class="gradient-overlay"></div>
        <div class="hero-section">

            <div class="hero-content">
                <!-- Logo -->
                <h1 class="logo-position">
                    @((MarkupString)Translator.Translate("logo")) <span class='logo-span'>@((MarkupString)Translator.Translate("logo2"))</span>
                </h1>

                <!-- Title -->
                <h2 class="title" data-aos="fade-up" data-aos-duration="1000" tabindex="-1">
                    @((MarkupString)Translator.Translate("heroTitle"))
                </h2>

                <h4 class="subtitle" data-aos="fade-up" data-aos-duration="1300">
                    @((MarkupString)Translator.Translate("heroSubtitle"))
                </h4>
            </div>

            <div class="mouse-scroll" aria-label="Scroll a objetivos">
                <div class="mouse" onclick="scrollToSection('objetivo')">
                    <div class="wheel"></div>
                </div>
            </div>

        </div>
    </section>

    <section id="objetivo">
        <Objetivo />
    </section>

    <section id="productos">
        <Productos />
    </section>

    <section id="registro">
        <Registro />
    </section>

    <section id="contactanos">
        <Contact />
    </section>

</div>

@code {
    protected override void OnInitialized()
    {
        Translator.OnLanguageChanged += OnLanguageChangedHandler;
    }

    private void OnLanguageChangedHandler()
    {
        InvokeAsync(StateHasChanged); // fuerza el re-render cuando cambia el idioma
    }

    public void Dispose()
    {
        Translator.OnLanguageChanged -= OnLanguageChangedHandler; // limpia suscripción
    }
}